# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Incremental Linker files
*.ilk

# Precompiled Headers
*.gch
*.pch

# Compiled Resource Script files
*.res

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Program Debug Database files (Symbol files)
*.pdb

# Executables
*.exe
*.out
*.app
